# Ignore following directories and files
# other version control
.svn/

# Eclipse workspace
.metadata/
.recommenders/
RemoteSystemsTempFiles/
.settings/
.classpath
.project
.gradle/
#Intellij Idea
.idea/
*.iml

# binaries
bin/
build/
target/
gradle/
*.class
*.bat
*.sh

# some non-source directories and files
*.log
