<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>

    <!-- Alternative way of registration this handler. The first way via RestRegistration. -->
    <!--context-param>
        <param-name>resteasy.providers</param-name>
        <param-value>org.javaee.soap2rest.rest.web.utils.ExceptionHandler</param-value>
    </context-param-->

    <error-page>
        <error-code>401</error-code>
        <location>/401.json</location>
    </error-page>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Soap2RestSecurityDomain</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>WEBSERVICE.SOAP2REST.REST</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>default</realm-name>
    </login-config>
    <security-role>
        <role-name>WEBSERVICE.SOAP2REST.REST</role-name>
    </security-role>

</web-app>